{% extends '@Quizz/question/question.html.twig' %}

{% block body %}
    {% if correct %}
        Correct
    {% else %}
        Faux
    {% endif %}
    {% if nextQuestionId != null %}
        <a href="{{ path('question_get', {'id': nextQuestionId}) }}">Suivant</a>
    {% else %}
        C'est la fin
    {% endif %}
{% endblock %}